<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication78">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication78">
        <activity
            android:name=".NoJuiceActivity"
            android:exported="false" />
        <activity
            android:name=".JuiceActivity"
            android:exported="false" />
        <activity
            android:name=".DessertActivity"
            android:exported="false" />
        <activity
            android:name=".SoupActivity"
            android:exported="false" />
        <activity
            android:name=".TempActivity"
            android:exported="false" />
        <activity
            android:name=".SpicyActivity"
            android:exported="false" />
        <activity
            android:name=".MenuList"
            android:exported="false" />
        <activity
            android:name=".MenuInfo"
            android:exported="false" />
        <activity
            android:name=".MenuInfo2"
            android:exported="false" />
        <activity
            android:name=".MenuInfo3"
            android:exported="false" />
        <activity
            android:name=".MenuInfo4"
            android:exported="false" />
        <activity
            android:name=".MealActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
            android:label="@string/title_activity_main2"
            android:theme="@style/Theme.MyApplication78.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>